# Markup #
##########
node_modules/
css/

# Wordpress #
#############
# Ignore everything in the wordpress folder except the "wp-content" directory.
kbiwp/*
!kbiwp/wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
kbiwp/wp-content/*
!kbiwp/wp-content/plugins/
!kbiwp/wp-content/themes/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
kbiwp/wp-content/themes/*
!kbiwp/wp-content/themes/kasparabi/
