.maginfic-popup-gallery {
	div {
    	padding: 5px;
	}

	@media (min-width: @screen-xs-min) {    
	    div a img {
	        height: 198px;
	    }
	}

	@media (min-width: @screen-sm-min) { 
        div a img {
            height: 70px;
        }
	}

	@media (min-width: @screen-md-min) { 
        div a img {
            height: 95px;
        }
	}

	@media (min-width: @screen-lg-min) { 
        div a img {
            height: 117px;
        }
	}
}