.contact-us {
	h1, 
	h4, 
	p {
		text-align: center;
	}
  
    div {
      font-family: 'gt_walsheim_regular';
    }

	img {
		margin: 0px auto;
		width: 200px;
	}

	.contact-us-persona {
		text-align: center;
		margin-top: 20px;
	}

	h1 {
		margin-bottom: 30px;
	}

	h4, label {
    	font-family: gt_walsheim_regular;
	}

	h4.email-title {
		margin-top: 35px;
	}
  
    .contact-us-row {
        text-align: center;
    }
  
    .contact-us-row div:first-child {
        margin-bottom: 20px;
    }
  
    .contact-us-row div:last-child {
        margin-top: 20px;
    }
  
	@media (min-width: @screen-sm-min) { 
		.left-image {
			padding-left: 30%;
		}

		.right-image {
			padding-right: 30%;
		}

		.right-image img, .left-image img {
			margin: 0px auto;
		}

        .contact-us-row {
            width: 755px;
            margin: 0 auto;
        }
      
      .contact-us-row div:first-child {
          margin-bottom: 0px;
      }

      .contact-us-row div:last-child {
          margin-top: 0px;
      }
	}

	@media (min-width: @screen-md-min) { 
		.contact-us-persona {
			padding-left: 45px;
			padding-right: 45px;
		}
      
        .contact-us-row {
            width: 785px;
            margin: 0 auto;
        }
	}

	@media (min-width: @screen-lg-min) { 
		.contact-us-persona {
			padding-left: 70px;
			padding-right: 70px;
		}

		.email-contact-form {
			padding-left: 20%;
			padding-right: 20%;
		}
      
        .contact-us-row {
            width: 785px;
            margin: 0 auto;
        }
	}
}