.contact-us {
	h1, 
	h4, 
	p {
		text-align: center;
	}

	img {
		margin: 0px auto;
		width: 200px;
	}

	.contact-us-persona {
		text-align: center;
		margin-top: 20px;
	}

	@media (min-width: @screen-sm-min) { 
		.contact-us-persona {
			padding-left: 20px;
			padding-right: 20px;
		}

		.left-image {
			padding-right: 40px;
			display: inline-block;
		}

		.right-image {
			padding-left: 40px;
			display: inline-block;
		}

		.left-column {
			text-align: right;
		}

		.right-column {
			text-align: left;
		}

		img {
			display: inline-block;
		}
	}

	@media (min-width: @screen-md-min) { 
		.contact-us-persona {
			padding-left: 70px;
			padding-right: 70px;
		}
	}

	@media (min-width: @screen-lg-min) { 
		.contact-us-persona {
			padding-left: 140px;
			padding-right: 140px;
		}

		.email-contact-form {
			padding-left: 20%;
			padding-right: 20%;
		}
	}
}