header {
	overflow: hidden;

	img {
		width: 276px;
		height: 124px;
		margin: 0px auto;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.mobile-menu-toggle {
		a:hover {
			background-color: rgb(238, 238, 238);
		}

		a {
			border-radius: 4px;
			position: relative;
			display: block;
			padding: 10px 15px;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.main-menu, .mobile-menu-toggle {
		a {
			font-size: 14px;
			text-transform: uppercase;
			font-family: 'gt_walsheim_regular';
			color: #000;
			text-decoration: none;
		}
	}

	.main-menu {
		li {
			white-space:nowrap;
		}
	}

	.header-seperator {
		background: url('images/kaspara-strek.png') no-repeat;
		width: 646px;
		height: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}

	.main-menu-wrapper {
		width: auto;
		margin: 0px auto;
	}

	@media (min-width: @screen-sm-min) {
		.main-menu-wrapper {
			width: 720px;
			margin: 0px auto;
		}
		
		/* This might mess things up if I use .collapse more than one place.
		It is a very simple fix which saves my lots of work. */
		.collapse {
			display: block;
		}

		/* This is because if you open, then close the menu in "mobile",
		   bootstrap sets height: 0px on the ul. When you resize the browser
		   to larger than sm, the ul drops down below the .header-seperator
		   element. Setting the height to auto fixes this, but since
		   bootstrap sets the height inline, I have to use !important
		   to override it. */
		.main-menu {
			height: auto !important;
		}
	}
}