.about-us {
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  margin-bottom: 10px;
  
  .about-person-row {
    margin-bottom: 30px;
  
    .about-person-text {
      font-size: 16px;
      font-family: gt_walsheim_regular;
    }
  }
  
  .about-us-image {
    margin: 0 auto;
  }
}